<h1>
  <%= @post.title %>
</h1>

<p>
  <%# @category_name %>
      <strong>Category: </strong> <%= @post.category ? @post.category.name : "のーかてごり" %><br>
</p>

<p>
  <strong>Content:</strong><br>
  <%= @post.content %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@post.picture_url, :width => 600) if @post.picture.present? %>
</p>

